@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Moneygraphy';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Moneygraphy-Rounded.woff) format('woff'),
  url(/fonts/Moneygraphy-Rounded.ttf) format('truetype');
}

body {
  @apply min-h-screen text-text-900 font-sans;
}

a {
  @apply text-text-900 no-underline;
}

button {
  @apply cursor-pointer rounded-md bg-primary text-text-100;
  }

img {
  @apply max-w-full h-auto;
}s

ol, ul {
  list-style: none;
}
